.i-phone-16-pro-4,
.i-phone-16-pro-4 * {
  box-sizing: border-box;
}
.i-phone-16-pro-4 {
  background: #f8eddf;
  height: 874px;
  position: relative;
  overflow: hidden;
}
.group-36 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #fffafa;
  width: 387px;
  height: 119.06px;
  position: absolute;
  left: 8px;
  top: 242px;
}
.group-7 {
  width: 387px;
  height: 136px;
  position: static;
}
.group-6 {
  width: 387px;
  height: 136px;
  position: static;
}
.rectangle-1 {
  background: #fffafa;
  border-radius: 10px;
  width: 387px;
  height: 136px;
  position: absolute;
  left: 8px;
  top: 242px;
}
.status-bar-i-phone {
  padding: 21px 16px 19px 16px;
  display: flex;
  flex-direction: row;
  gap: 154px;
  align-items: center;
  justify-content: center;
  width: 402px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.time {
  padding: 2px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 22px;
  position: relative;
}
.time2 {
  color: var(--labels-primary, #000000);
  text-align: center;
  font-family: "SfPro-Semibold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
}
.levels {
  padding: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 22px;
  position: relative;
}
.cellular-connection {
  flex-shrink: 0;
  width: 19.2px;
  height: 12.23px;
  position: relative;
  overflow: visible;
}
.wifi {
  flex-shrink: 0;
  width: 17.14px;
  height: 12.33px;
  position: relative;
  overflow: visible;
}
.battery {
  flex-shrink: 0;
  width: 27.33px;
  height: 13px;
  position: relative;
  overflow: visible;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 326px;
  height: 69px;
  position: absolute;
  left: 31px;
  top: 807px;
}
.group-1 {
  flex-shrink: 0;
  width: 40.04px;
  height: 54px;
  position: static;
}
.home {
  color: #1e1e1e;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 1.33px;
  top: 35.67px;
  width: 34.7px;
  height: 25.83px;
}
.home2 {
  width: 40.04px;
  height: 35.22px;
  position: absolute;
  left: 0px;
  top: 7.5px;
  overflow: visible;
}
.group-5 {
  flex-shrink: 0;
  width: 40px;
  height: 53.83px;
  position: static;
}
.search {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 76.04px;
  top: 35.59px;
  width: 32.93px;
  height: 25.83px;
}
.search2 {
  width: 40px;
  height: 35px;
  position: absolute;
  left: 72.04px;
  top: 7.59px;
  overflow: visible;
}
.group-2 {
  flex-shrink: 0;
  width: 40.04px;
  height: 54px;
  position: static;
}
.group-3 {
  width: 40.04px;
  height: 54px;
  position: static;
}
.cart {
  color: #404040;
  text-align: center;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 145.37px;
  top: 35.67px;
  width: 34.7px;
  height: 25.83px;
}
.shopping-bag {
  width: 40.04px;
  height: 35.22px;
  position: absolute;
  left: 144.04px;
  top: 7.5px;
  overflow: visible;
}
.group-32 {
  flex-shrink: 0;
  width: 42.15px;
  height: 53px;
  position: static;
}
.group-33 {
  width: 42.15px;
  height: 53px;
  position: static;
}
.favorite {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 216.08px;
  top: 35px;
  width: 42.15px;
  height: 26px;
}
.heart {
  width: 40.04px;
  height: 35.22px;
  position: absolute;
  left: 217.13px;
  top: 8px;
  overflow: visible;
}
.group-4 {
  flex-shrink: 0;
  width: 42.15px;
  height: 53px;
  position: static;
}
.profile {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 290.22px;
  top: 35px;
  width: 42.15px;
  height: 26px;
}
.user {
  width: 40.04px;
  height: 35.22px;
  position: absolute;
  left: 291.27px;
  top: 8px;
  overflow: visible;
}
.location-on {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 21px;
  top: 62px;
  overflow: visible;
  aspect-ratio: 1;
}
.deliver-to {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 52px;
  top: 65px;
  width: 98px;
  height: 27px;
}
.putok {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 203px;
  top: 289px;
  width: 87px;
  height: 30px;
}
.total {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 32px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 772px;
  width: 98px;
  height: 30px;
}
.p-54-00 {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 777px;
  width: 114px;
  height: 30px;
}
.camdas {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 26px;
  top: 97px;
  width: 99px;
  height: 28px;
}
.image-2 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 90px;
  height: 51px;
  position: absolute;
  left: 299px;
  top: 74px;
  object-fit: cover;
  aspect-ratio: 90/51;
}
.image-3 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 90px;
  height: 51px;
  position: absolute;
  left: 299px;
  top: 74px;
  object-fit: cover;
  aspect-ratio: 90/51;
}
.rectangle-3 {
  background: #f8eddf;
  border-radius: 12px;
  width: 373px;
  height: 73px;
  position: absolute;
  left: 16px;
  top: 130px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.shopping-cart {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 26px;
  top: 139px;
  object-fit: cover;
}
.my-cart {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 51px;
  top: 144px;
  width: 99px;
  height: 28px;
}
._1-items {
  color: #706f6f;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 19px;
  top: 169px;
  width: 79px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._18-1-dozen {
  color: #da903d;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 210px;
  top: 315px;
  width: 115px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._54-00 {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 337px;
  top: 347px;
  width: 115px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3 {
  color: #da903d;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 229px;
  top: 345px;
  width: 115px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trash {
  width: 33px;
  height: 23px;
  position: absolute;
  left: 336px;
  top: 292px;
  object-fit: cover;
}
.sum {
  width: 17px;
  height: 26px;
  position: absolute;
  left: 238px;
  top: 341px;
  object-fit: cover;
}
.negative {
  width: 17px;
  height: 19px;
  position: absolute;
  left: 207px;
  top: 344px;
  object-fit: cover;
}
.group-62 {
  width: 102px;
  height: 35.26px;
  position: static;
}
.rectangle-12 {
  background: #c85a1f;
  border-radius: 10px;
  width: 102px;
  height: 35.26px;
  position: absolute;
  left: 285px;
  top: 767px;
}
.check-out {
  color: #ffffff;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 269px;
  top: 772px;
  width: 133px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pandesal-3 {
  border-radius: var(--corner-large, 16px);
  width: 182px;
  height: 83px;
  position: absolute;
  left: 16px;
  top: 270px;
  object-fit: cover;
  aspect-ratio: 182/83;
}
