.i-phone-16-pro-8,
.i-phone-16-pro-8 * {
  box-sizing: border-box;
}
.i-phone-16-pro-8 {
  background: #f8eddf;
  height: 1446px;
  position: relative;
  overflow-x: auto;
}
.status-bar-i-phone {
  padding: 21px 16px 19px 16px;
  display: flex;
  flex-direction: row;
  gap: 154px;
  align-items: center;
  justify-content: center;
  width: 402px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.time {
  padding: 2px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 22px;
  position: relative;
}
.time2 {
  color: var(--labels-primary, #000000);
  text-align: center;
  font-family: "SfPro-Semibold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
}
.levels {
  padding: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 22px;
  position: relative;
}
.cellular-connection {
  flex-shrink: 0;
  width: 19.2px;
  height: 12.23px;
  position: relative;
  overflow: visible;
}
.wifi {
  flex-shrink: 0;
  width: 17.14px;
  height: 12.33px;
  position: relative;
  overflow: visible;
}
.battery {
  flex-shrink: 0;
  width: 27.33px;
  height: 13px;
  position: relative;
  overflow: visible;
}
.arrow-back {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 22px;
  top: 71px;
  overflow: visible;
}
.checkout {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 52px;
  top: 74px;
  width: 99px;
  height: 28px;
}
.order-summary {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 118px;
  top: 159px;
  width: 166px;
  height: 28px;
}
.contact-information {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: -37px;
  top: 343px;
  width: 261px;
  height: 28px;
}
.full-name {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: -79px;
  top: 371px;
  width: 261px;
  height: 28px;
}
.mobile-number {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 22px;
  top: 427px;
  width: 261px;
  height: 28px;
}
.delivery-method {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 58px;
  top: 485px;
  width: 261px;
  height: 28px;
}
.mark-jade-reyes {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: -50px;
  top: 399px;
  width: 261px;
  height: 28px;
}
._099999999999 {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: -50px;
  top: 455px;
  width: 261px;
  height: 28px;
}
.image-2 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 90px;
  height: 51px;
  position: absolute;
  left: 299px;
  top: 74px;
  object-fit: cover;
  aspect-ratio: 90/51;
}
.group-37 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #fffafa;
  width: 408px;
  height: 84.04px;
  position: absolute;
  left: 0px;
  top: 208px;
}
.group-7 {
  width: 408px;
  height: 96px;
  position: static;
}
.group-6 {
  width: 408px;
  height: 96px;
  position: static;
}
.rectangle-1 {
  background: #fffafa;
  border-radius: 10px;
  width: 408px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 208px;
}
.putok {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 137px;
  top: 220.29px;
  width: 87px;
  height: 23.13px;
}
._18-1-dozen {
  color: #da903d;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 149px;
  top: 248.68px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._54-00 {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 311px;
  top: 248.68px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trash {
  width: 33px;
  height: 24.18px;
  position: absolute;
  left: 356px;
  top: 216px;
  object-fit: cover;
}
.trash2 {
  width: 33px;
  height: 24.18px;
  position: absolute;
  left: 17px;
  top: 483px;
}
.location-on {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 41px;
  top: 489px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-45 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #fffafa;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 382px;
  height: 50px;
  position: absolute;
  left: 13px;
  top: 513px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pickup {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 516px;
  width: 261px;
  height: 28px;
}
.ready-in-15-30-minutes {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: left;
  font-family: "NotoLoopedThaiUi-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 535px;
  width: 261px;
  height: 28px;
}
.group-46 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: #fffafa;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 382px;
  height: 50px;
  position: absolute;
  left: 13px;
  top: 569px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delivery {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 575px;
  width: 261px;
  height: 28px;
}
.within-in-30-40-minutes {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: left;
  font-family: "NotoLoopedThaiUi-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 594px;
  width: 261px;
  height: 28px;
}
.rectangle-172 {
  background: #eecca7;
  border-radius: 10px;
  border-style: solid;
  border-color: #c85a1f;
  border-width: 1px;
  width: 382px;
  height: 111px;
  position: absolute;
  left: 13px;
  top: 626px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-18 {
  border-radius: 0px;
  width: 382px;
  height: 111px;
  position: absolute;
  left: 11px;
  top: 1086px;
  overflow: visible;
}
.your-rescue-impact-by-purchasing-these-breads-you-re-helping-reduce-food-waste-and-supporting-local-bakeries-this-order-saves-approximately-3-dozen-of-bread-from-being-thrown-away {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 26px;
  top: 1097px;
  width: 351px;
}
.your-rescue-impact-by-purchasing-these-breads-you-re-helping-reduce-food-waste-and-supporting-local-bakeries-this-order-saves-approximately-3-dozen-of-bread-from-being-thrown-away-span {
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
}
.your-rescue-impact-by-purchasing-these-breads-you-re-helping-reduce-food-waste-and-supporting-local-bakeries-this-order-saves-approximately-3-dozen-of-bread-from-being-thrown-away-span2 {
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 100;
}
.group-47 {
  position: absolute;
  inset: 0;
}
.rectangle-173 {
  border-radius: 0px;
  width: 382px;
  height: 50px;
  position: absolute;
  left: 13px;
  top: 860px;
  overflow: visible;
}
.dot-2 {
  background: var(--labels-primary, #000000);
  border-radius: 50px;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 25px;
  top: 881px;
}
.payment-method {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
  position: absolute;
  left: 67px;
  top: 835px;
  width: 261px;
  height: 28px;
}
.image-9 {
  border-radius: 9px;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 38px;
  top: 870px;
  object-fit: cover;
  aspect-ratio: 1;
}
.gcash {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 864px;
  width: 261px;
  height: 28px;
}
.trash3 {
  width: 33px;
  height: 24.18px;
  position: absolute;
  left: 26px;
  top: 744px;
}
.rectangle-14 {
  width: 101px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 839px;
  overflow: visible;
}
.fourth-background-on-types-of-divide-1 {
  width: 58px;
  height: 33px;
  position: absolute;
  left: 25px;
  top: 830px;
  object-fit: cover;
  aspect-ratio: 58/33;
}
.dot-1 {
  background: var(--labels-primary, #000000);
  border-radius: 50px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 43px;
  top: 590px;
}
.digital-wallet-payment {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 6px;
  top: 880px;
  width: 261px;
  height: 28px;
}
.group-48 {
  height: auto;
  position: absolute;
  left: 13px;
  top: 916px;
  overflow: visible;
}
.rectangle-174 {
  border-radius: 0px;
  width: 382px;
  height: 81px;
  position: absolute;
  left: 11px;
  top: 983px;
  overflow: visible;
}
.special-instructions-optional {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 6px;
  top: 989px;
  width: 261px;
  height: 28px;
}
.cash-on-pickup {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 920px;
  width: 261px;
  height: 28px;
}
.pay-when-you-receive-order {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 21px;
  top: 936px;
  width: 261px;
  height: 28px;
}
.any-special-request-or-notes-for-your-bread-order {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 1017px;
  width: 316px;
  height: 28px;
}
.ellipse-7 {
  background: #000000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 25px;
  top: 938px;
}
.dot-22 {
  background: var(--labels-primary, #000000);
  border-radius: 50px;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 43px;
  top: 536px;
}
.change {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 9px;
  line-height: 22px;
  font-weight: 100;
  text-decoration: underline;
  position: absolute;
  left: 354px;
  top: 630px;
  width: 48px;
  height: 28px;
}
.change2 {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 7px;
  line-height: 22px;
  font-weight: 100;
  text-decoration: underline;
  position: absolute;
  left: 360px;
  top: 859px;
  width: 33px;
  height: 21px;
}
.fourth-background-on-types-of-divide-1-1 {
  width: 118px;
  height: 66px;
  position: absolute;
  left: -1px;
  top: 908px;
  object-fit: cover;
  aspect-ratio: 118/66;
}
._3 {
  color: #da903d;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 277px;
  top: 253px;
  width: 115px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.negative {
  width: 17px;
  height: 19px;
  position: absolute;
  left: 255px;
  top: 252px;
  object-fit: cover;
}
.sum {
  width: 17px;
  height: 26px;
  position: absolute;
  left: 286px;
  top: 249px;
  object-fit: cover;
}
.delivery-location-camdas-baguio-city-note-please-provide-a-complete-and-accurate-delivery-address-e-g-street-name-barangay-and-nearby-landmark-this-helps-ensure-your-order-arrives-on-time-and-without-confusion {
  text-align: left;
  position: absolute;
  left: 25px;
  top: 639px;
  width: 331px;
}
.delivery-location-camdas-baguio-city-note-please-provide-a-complete-and-accurate-delivery-address-e-g-street-name-barangay-and-nearby-landmark-this-helps-ensure-your-order-arrives-on-time-and-without-confusion-span {
  color: #000000;
  font-family: "NotoLoopedThaiUi-ExtraBold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 800;
}
.delivery-location-camdas-baguio-city-note-please-provide-a-complete-and-accurate-delivery-address-e-g-street-name-barangay-and-nearby-landmark-this-helps-ensure-your-order-arrives-on-time-and-without-confusion-span2 {
  color: var(--labels-vibrant-controls-secondary, #8c8c8c);
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
}
.delivery-location-camdas-baguio-city-note-please-provide-a-complete-and-accurate-delivery-address-e-g-street-name-barangay-and-nearby-landmark-this-helps-ensure-your-order-arrives-on-time-and-without-confusion-span3 {
  color: #000000;
  font-family: "NotoLoopedThaiUi-Thin", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 100;
}
._1-00 {
  color: #c85a1f;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 489px;
  top: 57px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._25-00 {
  color: #a6a6a6;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 489px;
  top: 24px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-002 {
  color: #a6a6a6;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 489px;
  top: -9px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.subtotal {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: -86px;
  top: 1268px;
  width: 261px;
  height: 28px;
}
.delivery-fee {
  color: var(--miscellaneous-tab-unselected, #999999);
  text-align: center;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: -79px;
  top: 1296px;
  width: 261px;
  height: 28px;
}
.total {
  color: #000000;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 1332px;
  width: 261px;
  height: 28px;
}
.group-51 {
  height: auto;
  position: absolute;
  left: 13px;
  top: 1360px;
  overflow: visible;
}
.check-small {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 129px;
  top: 1371px;
  overflow: visible;
}
.place-order {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 81px;
  top: 1373px;
  width: 261px;
  height: 28px;
}
._54-002 {
  color: #a6a6a6;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 357px;
  top: 1267px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._25-002 {
  color: #a6a6a6;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Regular", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 357px;
  top: 1300px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px 0 0 0;
  width: 402px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 1327.01px;
  transform-origin: 0 0;
  transform: rotate(0.284deg) scale(1, 1);
}
._79-00 {
  color: #c85a1f;
  text-align: left;
  font-family: "NotoLoopedThaiUi-Extrabold", sans-serif;
  font-size: 10px;
  line-height: 22px;
  font-weight: 800;
  position: absolute;
  left: 357px;
  top: 1333px;
  width: 115px;
  height: 23.13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pandesal-2 {
  border-radius: var(--corner-large, 16px);
  width: 134px;
  height: 61px;
  position: absolute;
  left: 4px;
  top: 225px;
  object-fit: cover;
  aspect-ratio: 134/61;
}
